body
  section(
    title="Previewing your poll"
    color="warning"
  )
    q #{state.poll.question}
    each option in state.poll.options
      button(name="dummy" value="") #{option.text}
  section(
    title="Actions"
    color="warning"
  )
    button(name="view" value="editPoll") Edit
    button(name="savePoll" class="primary") Publish
  if hint
    section(color="danger")
      i Please publish your poll before you can vote on it
